.task-main {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #494c6b;
  position: relative;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.check-text {
  display: flex;
  align-items: center;
  gap: 12px;
}
.delete {
  cursor: pointer;
}
