.task-main {
  font-size: 15px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #494c6b;
  position: relative;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #e3e4f1;
}
.check-text {
  display: flex;
  align-items: center;
  gap: 12px;
}
.delete {
  cursor: pointer;
}
.checkbox:checked {
  background-image: url(./assets/Group3.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
